body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.deadlines {
  padding-left: 15px;
  padding-right: 15px;
}

.deadlines {
  margin-top: 20px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.deadline {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 15px;
}
